<div class="container">
  <div class="col s3">
    <div class="biggest-donor">
      <canvas id="biggestDonor" width="400" height="400"></canvas>
      <script>
      var ctx2 = document.getElementById("biggestDonor").getContext('2d');
      const chartOptions2 = {
        type: 'pie',
        data: {
          labels: [],
          datasets: [{
            label: 'Top 5 Biggest Donors',
            data: [],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }],
            xAxes: [{ticks:{autoSkip: false}}]
          }
        }
      }
      $.ajax({
        method: 'GET',
        url: '/api/v1/users/biggest_donor',
        success: function(response){ renderChart2(response) },
        error: function(xhr,textStatus,errorThrown) { console.log(xhr,textStatus,errorThrown) }
      });
      const renderChart2 = function(biggestDonor){
        for(var i = 0, len = biggestDonor.length; i < len; i++) {
          let donor = biggestDonor[i];
          chartOptions2.data.labels.push(donor.name);
          chartOptions2.data.datasets[0].data.push(donor.total_pledged);
        }
        var myChart2 = new Chart(ctx2, chartOptions2);
      }
      </script>
    </div>
  </div>
</div>
