<h1>About Us</h1>

<p>We are an eclectic bunch attending Turing School of Software and Design.
  This is our final project for Module 3.
  We inherited a brownfield project from the cohort ahead of us, originally named Puntstartr.
  Although Rolling Punches had its challenges, each of us rose to the occassion.
  We learned a lot, and came out on top in the end.
  Feel free to contact us with questions you may have.
</p>
<p>Kindly,</p>
<p>-Sarah, Will, Ben, and Nick</p>
